body{
     margin:0;
     padding: 0;
     background: url(https://github.com/Venika/Venika.github.io/blob/master/bg.jpg?raw=true) no-repeat center;
     background-size: cover;
}
.box{
   width: 450px;
   background: rgba(0,0,0,0.4);
   padding: 40px;
   text-align: center;
   margin: auto;
   margin-top:5%;
   color: white;
   font-family: 'Centuary Gothic', sans-serif;
}
     
     color: #f9f3f4;
     font-size: 500%;
     text-shadow: 2px 2px 0px #FF000
 }
.box-img{
   border-radius:50%;
   width: 200px;
   height: 200px;
}

.box h1{
  font-size: 40pt;
  letter-spacing: 4px;
  font-weight:100;
}

.box h5{
  font-size: 20pt;
  letter-spacing: 3px;
  font-weight:100;  
}
.box p{
   text-align: justify;
}
