html, body{
   margin:0;
   padding: 0;
   width:100%;
   height:100%;
 }

body{
     background: url(https://github.com/Venika/Venika.github.io/blob/master/bg.jpg?raw=true) no-repeat center;
     background-size: cover;
     display: flex;
     flex-direction: column;
}
h1{
     font-family: 'Centuary Gothic', sans-serif;
     color: #f9f3f4;
     font-size: 500%;
     text-shadow: 0 0 300px #000
 }
